/**
 * Body CSS
 */
 html,
 body {
   height: 100%;
 }

 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }


 /**
  * Header CSS
  */
 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
 }

 header ul.mui-list--inline {
   margin-bottom: 0;
 }

 header a {
   color: white;
 }

 header table {
   width: 100%;
 }


 /**
  * Content CSS
  */
 #content-wrapper {
   min-height: 100%;

   /* sticky footer */
   box-sizing: border-box;
   margin-bottom: -100px;
   padding-bottom: 100px;
 }


 /**
  * Footer CSS
  */
 footer {
   box-sizing: border-box;
   height: 100px;
   background-color: #eee;
   border-top: 1px solid #e0e0e0;
   padding-top: 35px;
 }

 .logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.logo-wrapper:hover {
  text-decoration: none;
}

.logo-wrapper .head-title {
  font-size: 1.5em;
  display: none;
}

.intro-container {
  margin-top: 1em;
  background-color: var(--primary-background-color);
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 40px; /* Adds spacing between sections */
}

.about-section img,
.intro-section img {
  width: 100%; /* Makes image responsive */
  max-width: 350px; /* Limits image size */
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 20px; /* Adds spacing between image and text */
}

.about-section li {
  list-style: none;
}

.intro-section p {
  max-width: 350px;
  font-size: 1.5em;
}

.mui-divider.intro-section {
  margin: 5em 0;
}

@media (min-width: 768px) {
  .logo-wrapper .head-title {
    display: inline-block;
  }

  .intro-container {
    margin-top: 2em;
  }

  .intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left; /* Aligns text to the left on larger screens */
  }

  .intro-section img {
    margin-right: 20px; /* Adds spacing between image and text on larger screens */
  }

  .intro-section p {
    max-width: 38em;
  }
}